<!DOCTYPE html>
<html lang="en">
<head>
  <title>CryptoInfo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
  <div class="p-4">
    <h1><a href="/" class="btn btn-info mr-4" role="button" aria-pressed="true">Retour</a><%= name %> detail</h1>
  </div>
  
  <div class="container">
    <div class="list-group">
        <% for(var i=0; i<exchanges.length; i++) {%>
          <a class="list-group-item"> <%= exchanges[i].name %> price : <%= exchanges[i].price %> <%= exchanges[i].currency %></a>
        <% } %>
      </div>
  </div>
</div>

</body>
</html>

  
