<!DOCTYPE html>
<html lang="en">
<head>
  <title>CryptoInfo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
  <h1 class="p-4">CryptoInfo</h1>
  <div class="container">
    <div class="list-group">
        <a href="/exchange/coinbase" class="list-group-item">CoinBase</a>
        <a href="/exchange/bitfinex" class="list-group-item">Bitfinex</a>
      </div>
  </div>
</div>

</body>
</html>

  
